@font-face {
    font-family: BungeeShade;
    src: url(fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: BarlowCondensed;
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf);
}

@font-face {
    font-family: BungeeOutlined;
    src: url(fonts/Bungee_Outline/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: BarlowSemiCondensed;
    src: url(fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf);
}

@font-face {
    font-family: BarlowCondensedBold;
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}

body {
    margin: 0;
    background-image: url(bilder/170505160212-jimi-hendrix-tease-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    
    display: flex;
    align-items: center;
    justify-content: center;

    --purple: rgb( 171, 94, 142);
    --beige: rgb(241, 215, 177);
}

#wrapper {
    height: 100%;
    width: 85%;
    
    background-color: rgba(0,0,0,0.2);

    margin-top: 4vw;
    margin-bottom: 4vw;
    border-radius: 2vw;
}

/* header */

h1 {
    font-family: BungeeShade;
    color:lightgray;

    font-size: 6vw;
    margin: 0;
    margin-top: 2%;
    margin-left: 2%;
}

nav {
    display: flex;

    margin: 2%;
    margin-top: 6%;
    margin-bottom: 6%;
    gap: 0.5%;   
}

nav a {
    background-color: rgba(238, 231, 231, 0.5);

    flex-basis: 0;
    flex-grow: 1;
    padding: 1.2%;
    border-radius: 1vw;

    text-align: center;
    font-family: BarlowSemiCondensed;
    font-size: 2vw;
    color: rgba(0,0,0,0.8);
    text-decoration: none;
}

nav > a:nth-of-type(2) {
    font-family: BarlowCondensedBold;
    box-shadow: 0px 0px 1vw white;
    border: 1px solid white;
    pointer-events: none;
}

nav > a:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

/* main text and pictures */
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 7%;
}

h2 {
    font-family: BungeeOutlined;
}

h3 {
    font-family: BarlowCondensed;
}

h2, h3 {
    color: lightgray;
    font-size: 2vw;
    margin: 0;
}

p, ul{
    font-family: BarlowSemiCondensed;
    color: lightgray;
}

main, section {
    display: flex;
}

main > div > p:nth-of-type(1), section > div > p:nth-of-type(1) {
    padding-top: 9%;
    margin-bottom: 0;

    font-size: 1.7vw;
}

main > div > p:nth-of-type(2), section > div > p:nth-of-type(2) {
    padding-right: 3%;

    font-size: 1.3vw;
}

main > div > ul > li, section > div > ul > li {
    font-size: 1.5vw;
}

main > div > div:nth-child(1) img:nth-of-type(1), section > div > div:nth-child(1) img:nth-of-type(1) {
    position: relative;
    transition: opacity 1s;

    z-index: 1;
}

main > div > div:nth-child(1) > img:nth-of-type(2), section > div > div:nth-child(1) > img:nth-of-type(2) {
    position: absolute;

    z-index: 0;
}

main > div > div:nth-child(1) img:nth-of-type(1), main > div > div:nth-child(1) > img:nth-of-type(2), section > div > div:nth-child(1) img:nth-of-type(1), section > div > div:nth-child(1) > img:nth-of-type(2) {
    width: 100%;
    border-radius: 2vw 2vw 0 0;
} 

main > div > div:nth-child(1) > img:nth-of-type(1):hover, section > div > div:nth-child(1) > img:nth-of-type(1):hover{
    opacity: 0;
}

main > div:nth-child(1), section > div:nth-child(1) {
    width: 60%;
}

main > div:nth-child(2), section > div:nth-child(2) {
    width: 40%;
    position: relative;
}
main > div:nth-child(2) > div, section > div:nth-child(2) > div  {
    display: flex;

    gap: 2%;
}

.list {
    background-color: rgb(255, 217, 40);
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 3%;

    flex-direction: column;
} 

.list p{
    margin: 0;
    padding: 0;
   
    color: var(--purple);
    font-size: 1vw;
}

.list > p:nth-child(1){
    font-family: BarlowCondensed;
    font-size: 1.5vw;
}

main > div:nth-child(2) > div > div:nth-child(1), section > div:nth-child(2) > div > div:nth-child(1) {
    border-radius: 0 0 0 2vw;
}

main > div:nth-child(2) > div > div:nth-child(2), section > div:nth-child(2) > div > div:nth-child(2) {
    border-radius: 0 0 2vw 0; 
}

.box, .box2 {
    background-color: rgba(0,0,0,0.5);
    border: 1px solid white;
    border-radius: 2vw;
    margin: 2%;
    padding: 1.5%;
}

.box > div {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;

    gap: 0.4%;
}

.box > div > div, .box2 > div > div {
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 5%;
}

.box > div > div:nth-child(1) {
    background-color: var(--purple);

    border-radius: 2vw 0 2vw 2vw;

    padding: 15%;
}

.box > div > div:nth-child(2) {
    grid-column: 3 / 4;
    
    background-color: var(--purple);

    border-radius: 2vw 2vw 2vw 0;
}

.box > div > div:nth-child(3), .box2 > div > div:nth-child(3) {
    grid-column: 4 / 5;

    background-image: url(bilder/chandler.jpg);
    background-size: cover;
    background-position: center;
    
    border-radius: 0 2vw 2vw 2vw;

    justify-content: flex-start;
    align-items: flex-end;
}

.box > div > div:nth-child(4) {
    background-color: var(--purple);

    border-radius: 2vw 2vw 0 2vw;
}

.box > div > div > p, .box2 > div > div > p {
    color: rgb(255, 217, 40);
    font-size: 1vw;
}

.box > div > div:nth-child(3) > p, .box2 > div > div:nth-child(3) > p {
    color: white;
}

section > div > div:nth-child(1) > img:nth-of-type(2){
    height: 100%;
}   

section > div:nth-child(2) > div:nth-child(1) {
    position: relative;
}

.box2 .list{
    background-color: rgb(2, 118, 147);
}

.box2 .list p {
    color: var(--beige); 
}

.box2 > div {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;

    gap: 0.4%;
}

.box2 > div > div:nth-child(1) {
    grid-column: 1 / 2;

    background-color: var(--beige);

    border-radius: 2vw 2vw 2vw 0;
}

.box2 > div > div:nth-child(2) {
    grid-column: 2 / 3;

    background-color: var(--beige);

    border-radius: 0 2vw 2vw 2vw;
}

.box2 > div > div:nth-child(3) {
    grid-column: 3 / 4;

    background-image: url(bilder/eddie.jpg);
}

.box2 > div > div:nth-child(4) {
    background-color: var(--beige);

    border-radius: 2vw 2vw 0 2vw;
}

.box2 > div > div > p {
    color: rgb(2, 118, 147);
}

footer {
    color: white;
    font-family: BarlowSemiCondensed;
    font-size: 1vw;
    padding: 3% 0 1% 1%;
}

/* Mobil version */
@media (max-width: 500px) {
    body {
        background-image: url(bilder/jimimobile.jpg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }

    #wrapper {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.2);
    }

    h1 {
        font-size: 15vw;
        text-align: center;
    }

    nav {
        gap: 1vw; 
        margin: 13vw 5vw 13vw 5vw;
        margin-top: 13vw;
        margin-bottom: 13vw;
    }

    nav a {
        padding: 3vw 0 3vw 0; 
        border-radius: 10px;
    }

    main, section {
        flex-direction: column-reverse;
    }

    main > div:nth-child(2), main > div:nth-child(1), section > div:nth-child(1), section > div:nth-child(2) {
        width: 100%;
    }

    h2, .box2 h2 {
        font-size: 7vw;
    }

    h3, .box2 h3 {
        font-size: 5vw;
    }

    .box > div, .box2 > div {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;

        gap: 1%;
    }

    .box > div > div:nth-child(1) {
        grid-column: 1 / 3;
        border-radius: 4vw 0 4vw 4vw;
    }

    .box > div > div:nth-child(2) {
        grid-column: 3 / 6;
        border-radius: 4vw 4vw 4vw 0;
    }

    .box > div > div:nth-child(3) {
        grid-column: -4 / -3;
        border-radius: 0 4vw 4vw 4vw;
    }

    .box > div > div:nth-child(4) {
        grid-column: -3 / -1;
        border-radius: 4vw 4vw 0 4vw;
    }

    .box2 > div > div:nth-child(1) {
        grid-column: 1 / 4;
        border-radius: 4vw 4vw 4vw 0;
    }

    .box2 > div > div:nth-child(2) {
        grid-column: 4 / 6;
        border-radius: 0 4vw 4vw 4vw;
    }

    .box2 > div > div:nth-child(3) {
        grid-column: -6 / -3;
        border-radius: 0 4vw 4vw 4vw;
    }

    .box2 > div > div:nth-child(4) {
        grid-column: -3 / -1;
        border-radius: 4vw 4vw 0 4vw;
    }

    .box, .box2 {
        padding: 4%;
        margin: 5vw;
    }

    section > div > p:nth-of-type(1), section > div > p:nth-of-type(2), main > div > p:nth-of-type(2), section > div > ul > li, main > div > ul > li {
        font-size: 4vw;
    }

    nav a, main > div > p:nth-of-type(1), .list p, .box > div > div > p, .box2 > div > div > p, footer {
        font-size: 3vw;
    }

    .list > p:nth-child(1) {
        font-size: 4.5vw;
    }
}

@media (min-width: 1200px) {
    #wrapper {
        width: 1020px;
    }

    h1 {
        font-size: 70px;
    }

    nav a {
        font-size: 27px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    main > div > p:nth-of-type(1), section > div > p:nth-of-type(1), .list > p:nth-child(1) {
        font-size: 20px;
    }

    main > div > p:nth-of-type(2), section > div > p:nth-of-type(2), main > div > ul > li, section > div > ul > li {
        font-size: 17px;
    }

    .list p, .box > div > div > p, .box2 > div > div > p {
        font-size: 14px;
    }
}

@media (min-width: 800px) and (max-width: 900px) {

    h1 {
        font-size: 50px;
    }

    nav a, h2, .box2 h2 {
        font-size: 20px;
    }

    h3, .box2 h3 {
        font-size: 17px;
    }


    section > div > p:nth-of-type(2), main > div > p:nth-of-type(2),  section > div > ul > li, main > div > ul > li, .list > p:nth-child(1) {
        font-size: 12px;
    }

    section > div > p:nth-of-type(1), main > div > p:nth-of-type(1), .list p, .box > div > div > p, .box2 > div > div > p {
        font-size: 10px;
    }
}
